@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Orienta&family=Roboto:wght@100&display=swap');

* {
  font-family: 'Orienta',
    sans-serif;
}

.buy-now-button {
  background-color: #80CC28;
  /* Fill color */
  filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.10));
  /* Drop shadow */
  /* Add other styles if needed */
}

.btn-dark.buy-now-button {
  border-color: transparent;
}

.small-text {
  font-size: 12px;
}

.small-image {
  max-width: 100%;
  height: auto;
}